* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}
p {
	margin-left: 1%;
	margin-right: 1%;
}

.menu {
	width: 100%;
}

@media (min-width: 992px) {
	.sm-view {
		display: none;
	}
	.chicken, .beef, .sushi {
		float: left;
		width: 30%;
		border: 1px solid;
		background-color: lightgray;
		position: relative;
		margin-left: 1.166%;
		margin-right: 1.166%;
		height: 100px;
		overflow-y: hidden;
	}

	.chicken:hover, .beef:hover, .sushi:hover {
		overflow: auto;
		cursor: n-resize;
	}

	/*.chicken p, .beef p, .sushi p {
		margin-left: 5px;
		margin-right: 5px;
	}*/

	.chicken h2{
		text-align: center;
		background-color: pink;
		border: 1px solid black;
		position: relative;
		left: 60%;
		width: 40%;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.beef h2 {
		text-align: center;
		background-color: red;
		border: 1px solid black;
		position: relative;
		left: 60%;
		width: 40%;
		color: white;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;

	}

	.sushi h2 {
		text-align: center;
		background-color: yellow;
		border: 1px solid;
		position: relative;
		left: 60%;
		width: 40%;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.sm-view {
		display: none;
	}
	.chicken, .beef {
		float: left;
		width: 45%;
		border: solid;
		background-color: lightgray;
		position: relative;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-bottom:2.5%;
		margin-top: 2.5%;
		height: 200px;
		overflow: auto;

	}

	.sushi {
		clear: left;
		width: 95%;
		border: solid;
		background-color: lightgray;
		position: relative;
		margin-left: 2.5%;
		margin-right: 2.5%;
		height: 100px;
		overflow: auto;
	}
	.chicken h2{
		text-align: center;
		background-color: pink;
		border: solid black;
		position: relative;
		left: 60%;
		width: 40%;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.beef h2 {
		text-align: center;
		background-color: red;
		border: solid black;
		position: relative;
		left: 60%;
		width: 40%;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;
		color: white;
	}

	.sushi h2 {
		text-align: center;
		background-color: yellow;
		border: solid black;
		position: relative;
		left: 60%;
		width: 40%;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 768px) {
	.lg-view {
		display: none;
	}
	.sm-view h1 {
		font-size: 1.5em;
		font-family: palatino, serif;
		text-align: left;
		margin-left: 5%;
	}
	.chicken, .beef, .sushi {
		width: 90%;
		border: solid;
		background-color: lightgray;
		position: relative;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom:5%;
		margin-top: 5%;
		height: 150px;
		overflow: auto;
	}

	.chicken h2{
		text-align: center;
		background-color: pink;
		border: solid black;
		position: relative;
		width: 100%;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.beef h2 {
		text-align: center;
		background-color: red;
		border: solid black;
		position: relative;
		width: 100%;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;
		color: white;
	}

	.sushi h2 {
		text-align: center;
		background-color: yellow;
		border: solid black;
		position: relative;
		width: 100%;
		margin-top: 0%;
		padding-left: 10px;
		padding-right: 10px;
	}
}


